<!DOCTYPE html>
<html>
<head>
	<style>
		body{
			background: skyblue;
			color: #fff;
		}
	</style>
	<title></title>
</head>
<body>
<% include partials/nav.ejs %>

<h1>Welcome to Contact Page</h1>
<p>heelooo Mitesh R.</p>
<p>You are contacted <%= data.who %> in the <%= data.department %> Department.</p>
<p>We will reply to you at <%= data.email %></p>


</body>
</html>