<!DOCTYPE html>
<html>
<head>
	<!-- <style>
		body{
			background: skyblue;
			color: #fff;
		}
	</style>
	<title></title> -->
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
<% include partials/nav.ejs %>

<h1>Welcome to Node.js</h1>
<p>heelooo</p>
</body>
</html>